[submodule "reactStreamsClient"]
	path = reactStreamsClient
	url = git@github.com:klebann/reactStreamsClient.git
[submodule "reactStreamsApi"]
	path = reactStreamsApi
	url = git@github.com:klebann/reactStreamsApi.git
[submodule "client"]
	path = client
	url = git@github.com:klebann/reactStreamsClient.git
[submodule "api"]
	path = api
	url = git@github.com:klebann/reactStreamsApi.git
